---
const videoUrl = "https://www.youtube.com/embed/0RRlQ1MoSKQ"; // Usamos la URL de formato embebido

---

<div class="flex justify-center my-8 px-4 md:px-12 lg:px-24">
  <div class="w-full max-w-screen-xl h-[70vh] md:h-[80vh] lg:h-[90vh] bg-gray-900 rounded-lg overflow-hidden shadow-lg">
    <iframe
      class="w-full h-full"
      src={videoUrl}
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
