<div class="carousel-container">
  <!-- Encabezado del carrusel -->
  <div class="carousel-header bg-white text-black text-center p-6 md:pb-12 px-0 flex flex-col -mt-20">
    <h3 class="font-semibold text-2xl mb-2 mt-20">
      Conviértete en un punto de recarga para los conductores de autos eléctricos y genera ingresos adicionales
    </h3>
    <p class="mb-6 text-lg">
      Con nuestros cargadores comerciales ofrecemos un servicio de calidad y rapidez para los conductores de autos eléctricos.
      Con esto generas un mayor flujo de personas a tu establecimiento y tendrás la oportunidad de generar ingresos a través de
      las plataformas de cobro.
    </p>
  </div>
  <!-- Imagen principal del carrusel -->
  <div class="carousel">
    <input type="radio" name="carousel" id="carousel-1" checked>
    <input type="radio" name="carousel" id="carousel-2">
    <input type="radio" name="carousel" id="carousel-3">
    <input type="radio" name="carousel" id="carousel-4">
    <input type="radio" name="carousel" id="carousel-5">
    <input type="radio" name="carousel" id="carousel-6">

    <div class="slides">
      <div class="slide" style="background-image: url('/images/screens/electromovilidad/SerAnfitrionEstacionCargo/EDUCACION.png');"></div>
      <div class="slide" style="background-image: url('/images/screens/electromovilidad/SerAnfitrionEstacionCargo/FLOTILLAS.jpg');"></div>
      <div class="slide" style="background-image: url('/images/screens/electromovilidad/SerAnfitrionEstacionCargo/CENTROSCOMERCIALES.jpg');"></div>
      <div class="slide" style="background-image: url('/images/screens/electromovilidad/SerAnfitrionEstacionCargo/RESTAURANTES.jpg');"></div>
      <div class="slide" style="background-image: url('/images/screens/electromovilidad/SerAnfitrionEstacionCargo/HOTELES.jpg');"></div>
      <div class="slide" style="background-image: url('/images/screens/electromovilidad/SerAnfitrionEstacionCargo/CASACLUB.jpg');"></div>
    </div>
  </div>

  <!-- Texto alineado debajo de la imagen principal -->
  <div class="carousel-text">
    <label for="carousel-1" class="text-item">
      <hr>
      <h3>Educación</h3>
      <p>Fomentar la sostenibilidad adaptando en los campus cargadores de vehículos eléctricos para estudiantes, personal y visitantes.</p>
    </label>
    <label for="carousel-2" class="text-item">
      <hr>
      <h3>Flotillas</h3>
      <p>Ofrecemos monitoreo avanzado de flotillas para que su empresa pueda centrarse en la disponibilidad y confiabilidad de sus estaciones de carga y flota.</p>
    </label>
    <label for="carousel-3" class="text-item">
      <hr>
      <h3>Centros Comerciales</h3>
      <p>Ofrecer puntos de recarga en centros comerciales, ayudará a mejorar la experiencia del cliente, y contribuirá a la sostenibilidad y modernización.</p>
    </label>
    <label for="carousel-4" class="text-item">
      <hr>
      <h3>Restaurantes</h3>
      <p>La instalación de puntos de recarga para vehículos eléctricos puede ser un factor importante para los clientes al elegir dónde comer.</p>
    </label>
    <label for="carousel-5" class="text-item">
      <hr>
      <h3>Hoteles</h3>
      <p>Al incorporar estaciones de carga para vehículos eléctricos, mejora la experiencia del huésped y posiciona el hotel como un establecimiento moderno y sostenible.</p>
    </label>
    <label for="carousel-6" class="text-item">
      <hr>
      <h3>Casa Club Desarrollo Inmobiliario</h3>
      <p>Posicione su casa club como el más centrado en la sostenibilidad, ofreciendo estaciones de carga para residentes e invitados.</p>
    </label>
  </div>
</div>

<style>
  .carousel-header {
    background-color: white;
    color: black;
    position: relative;
    z-index: 10;
    width: 100%; /* Asegúrate de que ocupe el ancho completo */
    max-width: 100%; /* Remueve cualquier limitación de ancho */
    margin: auto;
  }

  .carousel-container {
    text-align: center;
    width: 100%;
    max-width: 68%;
    margin: auto;
  }

  .carousel {
    position: relative;
    width: 100%;
    height: 600px;
  }

  input[type="radio"] {
    display: none;
  }

  .slides {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s;
  }

  /* Animación de carrusel */
  @keyframes carousel {
    0% { opacity: 1; }
    16.66% { opacity: 1; }
    33.32% { opacity: 0; }
    100% { opacity: 0; }
  }

  .slide:nth-child(1) { animation: carousel 36s infinite; }
  .slide:nth-child(2) { animation: carousel 36s infinite 6s; }
  .slide:nth-child(3) { animation: carousel 36s infinite 12s; }
  .slide:nth-child(4) { animation: carousel 36s infinite 18s; }
  .slide:nth-child(5) { animation: carousel 36s infinite 24s; }
  .slide:nth-child(6) { animation: carousel 36s infinite 30s; }

  .carousel-text {
    display: flex;
    justify-content: space-around;
    padding: 20px 5px;
  }

  @keyframes carousel-text {
    0%, 16.66% { color: lightgray; border-color: lightgray; }
    16.66%, 33.33% { color: black; border-color: black; }
    33.33%, 100% { color: lightgray; border-color: lightgray; }
  }

  .text-item {
    flex: 1;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    color: lightgray;
    animation: carousel-text 36s infinite;
  }

  .text-item h3,
  .text-item hr,
  .text-item p {
    color: inherit;
    border-color: inherit;
  }

  .text-item:nth-child(1) { animation-delay: 0s; }
  .text-item:nth-child(2) { animation-delay: 6s; }
  .text-item:nth-child(3) { animation-delay: 12s; }
  .text-item:nth-child(4) { animation-delay: 18s; }
  .text-item:nth-child(5) { animation-delay: 24s; }
  .text-item:nth-child(6) { animation-delay: 30s; }

  .text-item h3 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
  }

  .text-item p {
    font-size: 0.85em;
  }
</style>
