
<section class="flex flex-col md:flex-row text-center bg-gray-50 text-center flex flex-col gap-8 p-8 md:p-16 lg:px-40 xl:px-60 rounded-lg shadow-lg">
  

  <!-- Sección Misión -->
  <div class="p-8 py-12 bg-gradient-to-br from-gray-700 via-gray-800 to-gray-900 text-white flex flex-col rounded-lg shadow-lg transition-transform duration-300 hover:scale-105 md:w-1/2">
    <h2 class="text-3xl font-bold mb-4">Nuestra Misión</h2>
    <p class="text-lg leading-relaxed">
      Contribuir con nuestros clientes en la gestión inteligente de la energía eléctrica, 
      promoviendo su generación a partir de fuentes renovables y optimizando su uso de manera eficiente.
    </p>
  </div>

  <!-- Sección Visión -->
  <div class="p-8 py-12 bg-gradient-to-br from-gray-800 via-gray-900 to-black text-white flex flex-col rounded-lg shadow-lg transition-transform duration-300 hover:scale-105 md:w-1/2">
    <h2 class="text-3xl font-bold mb-4">Nuestra Visión</h2>
    <p class="text-lg leading-relaxed">
      Nuestro objetivo es ser la principal empresa de gestión de recursos energéticos en México, reconocida por la calidad profesional de nuestro equipo y la confiabilidad de los equipos que ofrecemos. 
      Nos destacamos por ofrecer soluciones innovadoras que satisfacen las necesidades de nuestros clientes.
    </p>
  </div>

</section>
