<section class="flex flex-col text-center">

  <!-- Sección Misión -->
  <div class="p-8 py-12 bg-gray-100 flex flex-col mx-4 md:mx-16 lg:mx-32 rounded-lg shadow-lg">
    <h2 class="text-3xl font-semibold mb-4">Nuestra Misión</h2>
    <p class="text-lg">
      Contribuir con nuestros clientes en la gestión inteligente de la energía eléctrica, 
      promoviendo su generación a partir de fuentes renovables y optimizando su uso de manera eficiente.
    </p>
  </div>

  <!-- Separador entre secciones -->
  <div class="my-6 border-t-2 border-gray-300 mx-4 md:mx-16 lg:mx-32"></div>

  <!-- Sección Visión -->
  <div class="p-8 py-12 bg-neutral-800 flex flex-col text-white mx-4 md:mx-16 lg:mx-32 rounded-lg shadow-lg">
    <h2 class="text-3xl font-semibold mb-4">Nuestra Visión</h2>
    <p class="text-lg">
      Nuestro objetivo es ser la principal empresa de gestión de recursos energéticos en México, reconocida por la calidad profesional de nuestro equipo y la confiabilidad de los equipos que ofrecemos. 
      Nos destacamos por ofrecer soluciones innovadoras que satisfacen las necesidades de nuestros clientes.
    </p>
  </div>

</section>
