---
// Components
import Layout from "../layouts/Layout.astro";

// Sections
import CargadorMQ200 from '../sections/screens/electromovilidad/CargadorMQ200.astro';
import AdoptaEstacionCarga from '../sections/screens/electromovilidad/AdoptaEstacionCarga.astro';
import ElectrificaTuFlotilla from '../sections/screens/electromovilidad/ElectrificaTuFlotilla.astro';
import VentajasElectromovilidad from '../sections/screens/electromovilidad/VentajasElectromovilidad.astro';
import MovilidadElectricaCamino from '../sections/screens/electromovilidad/MovilidadElectricaCamino.astro';
import ConvertirFlotaEmpresarial from '../sections/screens/electromovilidad/ConvertirFlotaEmpresarial.astro';
import SerAnfitrionEstacionCargo from '../sections/screens/electromovilidad/SerAnfitrionEstacionCargo.astro';

---

<Layout title="Electromovilidad" hasBackground={true}>

  <!-- Título principal de la página con fondo gris oscuro y mayor margen superior -->
  <section class="bg-gray-800 text-white py-16 px-6 md:px-20 lg:px-40 text-center mt-16">
    <h1 class="text-4xl font-bold mb-4">Electromovilidad</h1>
    <p class="text-lg md:text-xl max-w-2xl mx-auto">
      Conduce hacia un futuro sostenible. Descubre cómo la tecnología de Mi Energía MX puede ayudarte a transformar tu empresa con soluciones innovadoras de carga y movilidad eléctrica.
    </p>
  </section>

  <!-- Contenido de la página -->
  <div class="mt-10"> <!-- Mayor margen superior -->
    <SerAnfitrionEstacionCargo/>
    <ConvertirFlotaEmpresarial/>
    <MovilidadElectricaCamino/>
    <AdoptaEstacionCarga/>
    <VentajasElectromovilidad/>
    <ElectrificaTuFlotilla/>
    <CargadorMQ200/>
  </div>

  <!-- Sección final con los mismos estilos que CargadorMQ200 -->
  <section class="bg-gray-700 text-white p-6 md:pb-12 md:px-20 lg:px-60 flex flex-col gap-6 mt-16">
    <div class="items-center grid grid-cols-1 lg:grid-cols-2">
      <div class="flex flex-col justify-center">
        <p class="font-medium text-lg md:text-xl text-center max-w-md mx-auto mb-4">
          Transforma tu empresa y recarga tus vehículos eléctricos con nuestra tecnología de punta. Da el siguiente paso hacia el futuro de la movilidad eléctrica con Mi Energía MX.
        </p>
      </div>
      <div class="flex justify-center lg:justify-end">
        <img src="/images/screens/electromovilidad/img2.jpg" class="h-[340px] object-cover rounded-md shadow-lg" />
      </div>
    </div>
  </section>

</Layout>
