---

// Components
import Layout from "../layouts/Layout.astro";

// Sections
import CargadorMQ200 from '../sections/screens/electromovilidad/CargadorMQ200.astro';
import AdoptaEstacionCarga from '../sections/screens/electromovilidad/AdoptaEstacionCarga.astro';
import ElectrificaTuFlotilla from '../sections/screens/electromovilidad/ElectrificaTuFlotilla.astro';
import VentajasElectromovilidad from '../sections/screens/electromovilidad/VentajasElectromovilidad.astro';
import MovilidadElectricaCamino from '../sections/screens/electromovilidad/MovilidadElectricaCamino.astro';
import ConvertirFlotaEmpresarial from '../sections/screens/electromovilidad/ConvertirFlotaEmpresarial.astro';
import SerAnfitrionEstacionCargo from '../sections/screens/electromovilidad/SerAnfitrionEstacionCargo.astro';

---

<Layout title="Electromovilidad" hasBackground={true}>

  <SerAnfitrionEstacionCargo/>

  <ConvertirFlotaEmpresarial/>
  
  <MovilidadElectricaCamino/>

  <AdoptaEstacionCarga/>

  <VentajasElectromovilidad/>

  <ElectrificaTuFlotilla/>

  <CargadorMQ200/>

 <!-- Sección final con los mismos estilos que CargadorMQ200 -->
    <section class="bg-gray-700 text-white p-6 md:pb-12 md:px-20 lg:px-60 flex flex-col gap-6"> 
      <div class="items-center grid grid-cols-1 lg:grid-cols-2">
        <div class="flex flex-col justify-center">
    <p class="font-medium text-lg md:text-xl text-center max-w-md mx-auto mb-4">
  Transforma tu empresa y recarga tus vehículos eléctricos con nuestra tecnología de punta.
  Da el siguiente paso hacia el futuro de la movilidad eléctrica con Mi Energía MX.
</p>
        </div>
        <div class="flex justify-center lg:justify-end">
          <img src="/images/screens/electromovilidad/img2.jpg" class="h-[340px] object-cover rounded-md shadow-lg" /> <!-- Tamaño y estilos de imagen igualados -->
        </div>
      </div>
    </section>

  </div>
</Layout>