---
// Modules
import { YouTube } from 'astro-embed';

// Components
import Layout from "../layouts/Layout.astro";
import DisenadoLiderMercado from '../sections/screens/mi-energia/DisenadoLiderMercado.astro';
import BajaTusCostos from '../sections/screens/mi-energia/BajaTusCostos.astro';
import InstalacionFotovoltaicaComerciaIndustrial from '../sections/screens/mi-energia/InstalacionFotovoltaicaComerciaIndustrial.astro';
import MonitoreeInstalacion from '../sections/screens/mi-energia/MonitoreeInstalacion.astro';
import InversorRobusto from '../sections/screens/mi-energia/InversorRobusto.astro';
import Fronius2024 from '../sections/screens/mi-energia/Fronius2024.astro';
import ConfiaEnNuestraExperiencia from '../sections/screens/mi-energia/ConfiaEnNuestraExperiencia.astro';
import SustentabilidadAmbiente from '../sections/screens/mi-energia/SustentabilidadAmbiente.astro';
---

<Layout title="Sistema Fotovoltaico Comercial e Industrial" hasBackground={true}>
  <h1 class="text-3xl font-bold text-center mt-24 mb-4">Sistema Fotovoltaico Comercial e Industrial</h1>
  
  <div class="mt-6 mb-4">
   <ConfiaEnNuestraExperiencia/>
   </div>
  <section style="padding-top: 20px;">
    <h2 class="text-2xl font-semibold text-center mt-6 mb-4">Diseñado para el líder del mercado fotovoltaico</h2>
    <div class="mt-6 mb-4">
    <DisenadoLiderMercado/>
    </div>
    <div class="mt-6 mb-4">
    <BajaTusCostos/>
    </div>
    <div class="mt-6 mb-4">
    <SustentabilidadAmbiente/>
    </div>

    <div class="mt-6 mb-4">
    <InstalacionFotovoltaicaComerciaIndustrial/>
    </div>

    <div class="mt-6 mb-4">
    <MonitoreeInstalacion/>
    </div>

    <div class="mt-6 mb-4">
    <InversorRobusto/>
    </div>
    
    <div class="mt-6 mb-4">
    <Fronius2024/>
    </div>
  </section>
</Layout>
