---
// Modules
import { YouTube } from 'astro-embed';

// Components
import Layout from "../layouts/Layout.astro";
import EnergiaRenovable from '../sections/screens/mi-energia/EnergiaRenovable.astro';
import SuministroEnergiaRespaldo from '../sections/screens/mi-energia/SuministroEnergiaRespaldo.astro';
import FuncionInstalacionFotovoltaica from '../sections/screens/mi-energia/FuncionInstalacionFotovoltaica.astro';
import VentajasVistazo from '../sections/screens/mi-energia/VentajasVistazo.astro';
---

<Layout title="Sistema Fotovoltaico Residenciales Híbridos" hasBackground={true}>
  <h1 class="text-3xl  mt-20 font-bold text-center mt-24">Sistema Fotovoltaico Residenciales Híbridos</h1>
  
  <section style="padding-top: 20px;">
    <div class="mt-6 mb-4">
    <EnergiaRenovable/ class="mt-6 mb-4">
    </div>
    <div class="mt-6 mb-4">
    <SuministroEnergiaRespaldo/>
    </div>
    <div class="mt-6 mb-4">
    <FuncionInstalacionFotovoltaica/>
    </div>
    <div class="mt-6 mb-4">
    <VentajasVistazo/>
    </div>
  </section>
</Layout>



