---

// Components
import Layout from '../layouts/Layout.astro';

// Sections
import VideoComponent from '../components/custom/VideoComponent.astro';
import VideoComponent2 from '../components/custom/VideoComponent2.astro';
import VideoComponent3 from '../components/custom/VideoComponent3.astro';
import MontaCargasPortada from '../sections/screens/monta-cargas/MontaCargasPortada.astro';
import MontaCargasReduceCostos from '../sections/screens/monta-cargas/MontaCargasReduceCostos.astro';
import MontaCargasBalanceCarga from '../sections/screens/monta-cargas/MontaCargasBalanceCarga.astro';
import MontaCargasPicosCorriente from '../sections/screens/monta-cargas/MontaCargasPicosCorriente.astro';
import MontaCargasConsumoEnergia from '../sections/screens/monta-cargas/MontaCargasConsumoEnergia.astro';
import MontaCargasIndividualFacil from '../sections/screens/monta-cargas/MontaCargasIndividualFacil.astro';
import MontaCargasChargeAndConnect from '../sections/screens/monta-cargas/MontaCargasChargeAndConnect.astro';
import MontaCargasSolucionInteligente from '../sections/screens/monta-cargas/MontaCargasSolucionInteligente.astro';

---

<Layout title="Fronius" hasBackground>
  <div class="mt-6 mb-4">
  <MontaCargasPortada/>
  </div>
  <div class="mt-6 mb-4">
  <MontaCargasConsumoEnergia/>
  </div>
  <div class="mt-6 mb-4">
  <MontaCargasReduceCostos/>
  </div>
  <div class="mt-6 mb-4">
  <VideoComponent />
  </div>
  <div class="mt-6 mb-4">
  <MontaCargasChargeAndConnect/>
  </div>
  <div class="mt-6 mb-4">
  <VideoComponent2 />
  </div>
  <div class="mt-6 mb-4">
  <MontaCargasPicosCorriente/>
  </div>
  <div class="mt-6 mb-4">
  <MontaCargasBalanceCarga/>
  </div>
  <div class="mt-6 mb-4">
  <VideoComponent3 />
  </div>
  <div class="mt-6 mb-4">
  <MontaCargasIndividualFacil/>
  </div>
  <div class="mt-6 mb-4">
  <MontaCargasSolucionInteligente/>
  </div>
</Layout>