---

const monitoreoList = [
  'Supervisa tu consumo y rendimiento energético en tiempo real.',
  'Garantiza la funcionalidad y reduce el período de amortización.',
  'Identifica y optimiza el consumo de energía.',
  'Mantén tu instalación actualizada y ahorra dinero con extensiones individuales.',
  'Extiende la garantía sin cargo.'
];

---
<section class="border-2 md:grid-cols-2 gap-6 mx-4 md:mx-20 lg:mx-40 xl:mx-60 py-12 px-12">
  <!-- Título y descripción -->
  <div class="flex flex-col ">
    <h3 class="text-2xl font-bold text-gray-800 text-center">Monitoreo en su instalación fotovoltaica en todo momento</h3>
    <p class="text-lg text-gray-600 text-center">Con la herramienta de monitoreo gratuita Fronius Solar.web puedes supervisar el consumo y rendimiento energético en todo momento:</p>
  </div>

  <!-- Lista de elementos con iconos y texto -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6 mt-6">

    {monitoreoList.map((row, index) => (
      <div class="flex flex-col border-2 rounded-lg p-6 bg-white items-center justify-center shadow-md hover:shadow-xl transition-all duration-300 transform hover:scale-105 hover:border-gray-800 text-center">  <!-- Agregar text-center aquí -->
        <!-- Icono según el tema -->
        <div class=" w-16 h-16 rounded-lg bg-blue-100 flex items-center justify-center text-blue-700 shadow-lg">
          <i class={`fas ${index === 0 ? 'fa-tachometer-alt' : index === 1 ? 'fa-cogs' : index === 2 ? 'fa-lightbulb' : index === 3 ? 'fa-wrench' : 'fa-shield-alt'} text-3xl`}></i>
        </div>

        <!-- Texto -->
        <p class="text-sm md:text-base lg:text-lg text-gray-800">{row}</p>
      </div>
    ))}

  </div>

</section>

