<section class="border-2 md:grid-cols-2 gap-6 mx-4 md:mx-20 lg:mx-40 xl:mx-60 py-12 px-12">

  <h3 class="text-3xl font-semibold text-gray-800 mb-6">Las ventajas de los sistemas de monitoreo de energía y consumo eléctrico:</h3>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    <!-- Imagen con borde redondeado y sombra -->
    <img src="/images/screens/monitoreo/img2.jpg" class="rounded-lg shadow-lg transition-transform transform hover:scale-105" />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

      <!-- Primer bloque de texto con efectos de sombra y escala -->
      <div class="p-6 rounded-lg border-2 border-gray-300 bg-white flex items-center shadow-md hover:shadow-xl transition-all duration-300 transform hover:scale-105">
        <p class="text-lg text-gray-700">Determina formas de reducir el uso de energía. Reducir derroches innecesarios y recortar las facturas.</p>
      </div>

      <!-- Segundo bloque de texto con efectos de sombra y escala -->
      <div class="p-6 rounded-lg border-2 border-gray-300 bg-white flex items-center shadow-md hover:shadow-xl transition-all duration-300 transform hover:scale-105 row-span-2">
        <p class="text-lg text-gray-700">Accede a datos en tiempo real sobre el uso de la energía. Realiza un seguimiento a lo largo de un periodo de tiempo.</p>
      </div>

      <!-- Tercer bloque de texto con efectos de sombra y escala -->
      <div class="p-6 rounded-lg border-2 border-gray-300 bg-white flex items-center shadow-md hover:shadow-xl transition-all duration-300 transform hover:scale-105">
        <p class="text-lg text-gray-700">Programa alertas automáticos de fallos de equipos y reportes.</p>
      </div>

    </div>

  </div>

</section>
