---

const items = [
  {
    title:'Módulos solares',
    description:'Los módulos pueden instalarse tanto en tejados como en espacios abiertos y absorben la energía del sol para generar corriente eléctrica que posteriormente se transfiere al inversor.'
  },
  {
    title:'Inversores',
    description:'El inversor es la central de control de una instalación fotovoltaica. Convierte la corriente continua generada en corriente alterna, optimiza el rendimiento, controla los flujos de energía y comprueba el funcionamiento de la instalación.'
  },
  {
    title:'Fronius Smart Meter',
    description:'Para poder realizar un uso óptimo de la energía autogenerada, es importante poder leer todos los flujos de energía. Eso es precisamente de lo que se encarga el Fronius Smart Meter: para analizar y gestionar la energía de forma razonable y así aumentar el autoconsumo.'
  }
];

---

<div class="flex flex-col items-center gap-6 p-6 md:py-10 md:px-20 lg:px-40 xl:px-60 bg-gray-600">

  <!-- Título -->
  <h2 class="text-2xl font-semibold text-white text-center">Así Funciona una Instalación Fotovoltaica Comercial e Industrial.</h2>

  <div class="flex flex-col gap-6">

    <!-- Imagen -->
    <div class="flex items-center justify-center bg-white p-6 border-2 rounded-lg shadow-xl">
      <img src="/images/screens/fronius/img12.png" class="h-96 rounded-md shadow-lg">
    </div>

    <!-- Tarjetas de los módulos -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
      {
        items.map((row, index) => (
          <div class="bg-gray-500 flex flex-col gap-4 items-center justify-start text-center p-6 border-2 rounded-lg shadow-md text-white transition-all hover:scale-105 hover:bg-gray-600">
            <!-- Número -->
            <div class="min-h-10 min-w-10 border-2 border-yellow-400 rounded-full flex items-center justify-center p-2 bg-yellow-500">
              <span class="text-xl font-medium">{index+1}</span>
            </div>

            <!-- Título y descripción -->
            <div>
              <h3 class="text-xl font-medium mb-2">{row.title}</h3>
              <p class="text-lg">{row.description}</p>
            </div>
          </div>
        ))
      }
    </div>

  </div>

</div>
