<section class="bg-neutral-800 text-white px-6 md:px-30 lg:px-60 py-12">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
    <!-- Columna de texto -->
    <div class="flex flex-col justify-center p-6 md:p-12">
      <span class="text-sm">Sistema fotovoltaico residenciales híbridos</span>
      <h2 class="text-2xl font-semibold mt-4">Suministro de energía de respaldo en caso de apagón</h2>
      <p class="mt-4">
        La mayoría de las instalaciones fotovoltaicas suelen apagarse durante apagones.
        Con un inversor con función de respaldo y almacenamiento de energía, seguirás teniendo electricidad durante un apagón.
      </p>
    </div>
    <!-- Columna de imagen -->
    <div class="flex flex-col justify-center">
      <img src="/images/screens/fronius/img8.jpg" class="w-full h-full object-cover rounded-lg shadow-lg" />
    </div>
  </div>
</section>
