<section class="bg-neutral-800 text-white md:px-20 lg:px-40"> <!-- Padding lateral para controlar el ancho -->
  <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-6"> <!-- items-center y gap para ajustar alineación y espaciado -->

    <div class="flex flex-col justify-center p-6 md:p-12">
      <span class="text-sm mb-2">Sistema fotovoltaico residenciales híbridos</span> <!-- Margen inferior añadido -->
      <h2 class="text-2xl font-semibold mb-4">Suministro de energía de respaldo en caso de apagón</h2> <!-- Margen inferior añadido -->
      <p class="text-lg">
        La mayoría de las instalaciones fotovoltaicas suelen apagarse durante apagones.
        Con un inversor con función de respaldo y almacenamiento de energía, seguirás teniendo electricidad durante un apagón.
      </p>
    </div>

    <div class="flex flex-col">
      <img src="/images/screens/fronius/img8.jpg" class="h-[400px] mx-auto"> <!-- Altura fija y centrado de imagen -->
    </div>

  </div>
</section>
