---

const beneficiosBessList = [
  {
    title:'Impulsa tus niveles de Sostenibilidad',
    description:'Maximiza la eficiencia de tus fuentes renovables, evitando la pérdida de energía y reduciendo tu impacto ambiental.'
  },
  {
    title:'Autonomía y gestión energética',
    description:'Implementa microrredes de energía distribuida que pueden operar conectadas a la red pública o de manera independiente, aumentando tu autonomía e integra diversas fuentes de energía y siempre utiliza la más económica para optimizar tu consumo.'
  },
  {
    title:'Mejora la calidad de tu energía y protege tu maquinaria',
    description:'Protege tus equipos más sensibles estabilizando la frecuencia y el voltaje, y asegura un factor de potencia dentro de los parámetros reglamentarios.'
  },
  {
    title:'Cumplimiento del Código de Red 2.0',
    description:'Cumple con las regulaciones del Código de Red y evita sanciones. Nuestros sistemas garantizan la eficiencia, calidad y confiabilidad del suministro eléctrico.'
  }
]

---
<section class="flex flex-col gap-6 p-6 md:px-20 lg:px-40 xl:px-60 bg-neutral-800 text-white">

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    <!-- Imagen destacada en pantallas medianas y grandes -->
    <div class="border rounded-lg p-6 hidden md:flex items-center justify-center bg-neutral-700">
      <img src="/images/screens/bess-system/img5.png" alt="Imagen BESS" class="h-[450px] object-contain rounded-md shadow-lg transition-transform duration-300 ease-in-out hover:scale-110 hover:shadow-xl">
    </div>
    
    <div class="flex flex-col gap-6">

      <!-- Título principal -->
      <h3 class="text-2xl md:text-3xl font-semibold text-center md:text-left text-gray-300">Beneficios adicionales de BESS</h3>

      <!-- Imagen destacada en pantallas pequeñas -->
      <div class="border rounded-lg p-6 flex md:hidden items-center justify-center bg-neutral-700">
        <img src="/images/screens/bess-system/img5.png" alt="Imagen BESS" class="h-[300px] object-contain rounded-md shadow-lg">
      </div>

      <div class="grid gap-6">

        {beneficiosBessList.map((row) => (
          <div class="p-6 border rounded-lg bg-neutral-700 shadow-md transition-all duration-300 ease-in-out hover:scale-105 hover:border-yellow-400 hover:shadow-xl">
            <h3 class="font-semibold text-xl text-yellow-400 mb-2">{row.title}</h3>
            <p class="text-lg text-gray-300">{row.description}</p>
          </div>
        ))}

      </div>

    </div>

  </div>

</section>
